@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color:#333;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}

.hide {
    position: absolute;
    top: -99999px;
    left: -99999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#board_list_page {
    width: 1100px;
    margin: 20px auto 50px auto;
    padding: 30px;
    box-sizing: border-box;
    /* background-color: rgb(238, 204, 160); */
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.board__back a {
    color: rgba(0, 0, 0, 0.7);
}

.board__back i {
    transition: transform 0.4s ease-in-out;
    padding: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%; */
}

.board__back i:hover {
    transform: scale(1.4);
}



.board__in {
    margin: 0 50px;
}

.board__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 40px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.board__left h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.board__left .boardName {
    color: #e43530;
}

.board__left p span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.board__right a {
    color: #333;
}

.board__right a:last-child {
    margin-left: 15px;
}

.board__content {
	position: relative;
    padding: 0 40px 40px 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.board__btns {
	position: absolute;
	bottom: 10px;
	right: 40px;	
}

.board__content a {
	display: inline-block;
	margin-left:5px;
    padding: 5px 10px;
    color: #333;
    background-color: rgb(252, 240, 221);
    border: solid 1px rgb(255, 196, 102);
    border-radius: 10px;
}


.board__list {
    padding: 0 40px;
}

.board__list-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.board__list-top p{
    font-size: 18px;
}

.board__list-top p:last-child {
    text-decoration: underline;
}

.board__list-top a {
    color: #333;
}

.board__list-box {
    margin-bottom: 20px;
}

.board__list-box .listOn {
    background-color: rgba(252, 240, 221, 0.9);
}

.board__list-box .listOn div {
    font-weight: 600;
}

.board__list-box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.board__list-box li div {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
}

.board__list-box .listName {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board__list-box .listName a{
    color: #e43530;
}

.board__list-box p:last-child {
    width: 80%;
}

.board__list-box p:last-child a{
    color: #555;
}

.board__list-box .writer {
    width: 15%;
    text-align: center;
    color: #333;
}



.board__list-pager ul{
    display: flex;
    justify-content: center;
}

.board__list-pager li {
    margin: 0 5px;
}

.board__list-pager a {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 15px;
    color: #333;
}

.board__list-pager .pagerOn {
    background-color: rgb(252, 240, 221);
}